@model RecLP3.Models.Employee

@{
    ViewData["Title"] = $"Funcionário {Model.Id}";
}
<h1>@ViewData["Title"]</h1>

<p>
    <b>Id:</b> @Model.Id
</p>
<p>
    <b>Nome:</b> @Model.Name
</p>
<p>
    <b>Cargo:</b> @Model.Role
</p>
<p>
    <b>Endereço:</b> @Model.Address
</p>
<p>
    <b>Email:</b> @Model.Email
</p>
<p>
    <b>Phone:</b> @Model.Phone
</p>